body {
    font-family: verdana;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    color: lightblue;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
img
{
    width:200px;
}
body
{
    text-align : center ;
    font-family : "arial";
    background: red;
    color: white;
   

